@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600&display=swap');

:root {
  --bg-color: #202020;
  --primary-color: #f1f1f1;
  --secondary-font: #ffaf26;
  --border: #000000;
  --shadow: rgba(141, 141, 141, 0.62);
  --error: #ff0000;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}
nav {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px 35px;
  border-bottom: 1px solid var(--secondary-font);
}
h3 {
  font-size: 28px;
}
.nav-title {
  color: var(--secondary-font);
}
.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav-link {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.nav-link:active,
.nav-link:visited {
  color: var(--primary-color);
}
.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-font);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  background-color: var(--secondary-font);
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.main-header-container {
  padding: 110px 20px 50px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main-header {
  font-style: italic;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
h3 {
  color: var(--primary-color);
}
h1 {
  font-size: 40px;
  color: var(--secondary-font);
}
.wrap {
  display: inline-block;
  border-right: 2px solid var(--secondary-font);
}
.divider {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-font);
  font-size: 30px;
}
.divider::before,
.divider::after {
  content: '';
  display: block;
  height: 0.09em;
  width: 20vw;
}
.divider::before {
  background: linear-gradient(to right, var(--bg-color), var(--primary-color));
  margin: 100px 20px 100px 0;
}
.divider::after {
  background: linear-gradient(to left, var(--bg-color), var(--primary-color));
  margin: 100px 0 100px 20px;
}
.grid-display {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
}
.section {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.about-text,
.project-description,
.contact-text {
  color: var(--primary-color);
  font-size: 20px;
}
.about-text {
  text-align: justify;
}
.section h3 {
  font-size: 24px;
  color: var(--secondary-font);
  font-style: italic;
}
.tech-list {
  font-style: italic;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tech-list li,
button {
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
  border: 2px solid var(--border);
  box-shadow: 0px 0px 5px 2px var(--shadow);
}
.tech-list li {
  padding: 8px;
  border-radius: 5px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  border: 3px solid var(--border);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px var(--shadow);
  max-width: 330px;
}
.card:nth-child(odd) {
  align-self: flex-end;
}
.card:nth-child(even) {
  align-self: flex-start;
}
.card-image {
  width: 100%;
}
.card-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
h4 {
  font-size: 22px;
  color: var(--secondary-font);
  font-style: italic;
}
.project-description {
  padding: 0 10px;
}
.card-tech-list {
  font-size: 20px;
  color: var(--primary-color);
  font-style: italic;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 75px solid var(--border);
  border-right: 75px solid transparent;
}
.rigth-top-corner {
  left: auto;
  right: 0;
  transform: rotate(90deg);
}
.left-bottom-corner {
  top: auto;
  bottom: 0;
  transform: rotate(-90deg);
}
.link-icon {
  position: absolute;
  right: 3px;
  top: 3px;
}
.github-icon {
  position: absolute;
  bottom: 3px;
  left: 3px;
}
.contact-text {
  text-align: center;
}
form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  gap: 10px;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-icon {
  margin-right: 15px;
}
input,
textarea {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: var(--border);
}
label {
  font-size: 18px;
  color: var(--bg-color);
  text-transform: uppercase;
  order: -1;
  transform: translateX(10px) translateY(33px);
  pointer-events: none;
  transition: all 0.4s ease-in;
}
input:focus,
textarea:focus {
  outline: 2px solid var(--secondary-font);
}
input:focus ~ label,
textarea:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  transform: translateX(10px) translateY(-3px);
  color: var(--secondary-font);
}
.contact-icon,
button {
  transition: 0.3s ease-in-out;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-color);
  padding: 8px 12px;
  border-radius: 10px;
}
button:active {
  position: relative;
  top: 3px;
}
.contact-icon:hover,
button:hover {
  scale: 1.1;
}
#name.error,
#email.error,
#textarea.error {
  outline: 2px solid var(--error);
}
.name-invalid,
.email-invalid,
.text-invalid {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 3px;
  color: var(--error);
  display: none;
}
.name-invalid.show,
.email-invalid.show,
.text-invalid.show {
  display: block;
}
.sent {
  font-size: 18px;
  margin-left: 10px;
  margin: 5px 0 5px 10px;
  color: rgb(6, 207, 6);
  display: none;
}
.sent.show {
  display: block;
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 78px;
    gap: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary-font);
    width: 170px;
    transition: 0.3s ease-in-out;
  }
  .nav-item {
    margin: 14px 10px;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-link:after {
    background-color: var(--primary-color);
  }
  .main-header-container {
    grid-template-columns: 0.5fr 2fr;
  }
  .grid-display {
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 20px;
  }
  .main-header-container {
    grid-template-columns: 1fr;
  }
  h3 {
    font-size: 26px;
  }
  h1 {
    font-size: 36px;
  }
  .main-header {
    grid-column: 1;
  }
  .divider::before,
  .divider::after {
    width: 10vw;
  }
  .contact {
    font-size: 26px;
  }
  .grid-display {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .section {
    grid-column: 1;
  }
  @media (max-width: 320px) {
    .divider::before,
    .divider::after {
      width: 0;
    }
    h3 {
      font-size: 24px;
    }
    h1 {
      font-size: 30px;
    }
    form {
      width: 90%;
    }
  }
}
