@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600&display=swap');

:root {
  --bg-color: #202020;
  --primary-color: #f1f1f1;
  --secondary-font: #ffaf26;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
}
h1,
h2,
h3,
p,
.nav-link {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}
nav {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px 30px;
  border-bottom: 1px solid var(--secondary-font);
}
.nav-bar,
.nav-links {
  display: flex;
  gap: 15px;
}
nav h3 {
  color: var(--secondary-font);
  font-size: 24px;
}
.nav-link {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.nav-link:active,
.nav-link:visited {
  color: var(--primary-color);
}
.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-font);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-icon {
  color: var(--secondary-font);
  font-size: 28px;
  cursor: pointer;
  display: none;
}
.main-header-container {
  padding: 0 20px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.main-header {
  font-style: italic;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}
.main-header h3 {
  color: var(--primary-color);
  font-size: 28px;
}
.main-header h1 {
  font-size: 40px;
  color: var(--secondary-font);
}
.wrap {
  border-right: 2px solid var(--secondary-font);
}
.divider {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-font);
  font-size: 30px;
}
.divider::before,
.divider::after {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 30vw;
  margin: 10vh 3vw;
}
.divider::before {
  background: linear-gradient(to right, var(--bg-color), var(--primary-color));
}
.divider::after {
  background: linear-gradient(to left, var(--bg-color), var(--primary-color));
}
.grid-display {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
.section {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.about-text {
  color: var(--primary-color);
  font-size: 20px;
  text-align: justify;
}
.section h3 {
  font-size: 24px;
  color: var(--secondary-font);
  font-style: italic;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
ul li {
  font-size: 18px;
  color: var(--primary-color);
  text-transform: uppercase;

  padding: 8px 5px;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 3px;
  box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
  margin: 3px;
}
/* responsive */
@media (max-width: 900px) {
  .menu-icon {
    display: inline-block;
  }
  .nav-links {
    background-color: var(--secondary-font);
    display: none;
    position: absolute;
    top: 72px;
    right: 0;
    width: 180px;
    text-align: left;
  }
  .nav-links.responsive {
    display: block;
  }
  .nav-link {
    margin: 10px;
    font-size: 24px;
  }
  .nav-link:active,
  .nav-link:visited {
    color: var(--bg-color);
  }
  .nav-link:after {
    background-color: var(--bg-color);
  }
  .main-header-container {
    grid-template-columns: 0.5fr 2fr;
  }
  .grid-display {
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
}
@media (max-width: 600px) {
  .main-header-container {
    grid-template-columns: 1fr;
  }
  .main-header h3 {
    font-size: 24px;
  }
  .main-header h1 {
    font-size: 36px;
  }
  .main-header {
    grid-column: 1;
  }
  .grid-display {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .section {
    grid-column: 1;
  }
}
